<div class="flip-card">
    <mat-card class="example-card">
        <mat-card-header>
            <span class="material-icons gray900">touch_app</span>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Edson</mat-card-title>
            <mat-card-subtitle>Frontend and Backend Developer</mat-card-subtitle>
        </mat-card-header>
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img mat-card-image src="assets/foto.jpg" alt="photo">
            </div>
            <div class="flip-card-back">
                <mat-card-content>
                    <p>Country: Brazil</p>
                    <p>Skills: Angular, C#, ASP.NET MVC Core, Java, PostgreSQL, MySQL, Git/Github, HTML, CSS, JavaScript, TypeScript,
                        SCRUM, Azure DevOps CI/CD, AWS Lambda, AWS S3, HangFire, Node.</p>
                    <p>Experience: FullStack Developer (Frontend Angular / Backend .NET).</p>
                    <div class="conteudo">
                        <button mat-icon-button>
                            <mat-icon>thumb_up_off_alt</mat-icon>
                        </button>
                        <button mat-icon-button>
                            <mat-icon>share</mat-icon>
                        </button>
                        <button mat-icon-button>
                            <mat-icon>favorite_border</mat-icon>
                        </button>
                        <button mat-icon-button>
                            <mat-icon>zoom_in</mat-icon>
                        </button>
                    </div>
                </mat-card-content>
            </div>
        </div>
    </mat-card>
</div>