<div class="flip-card">
    <mat-card class="example-card">
        <mat-card-header>
            <span class="material-icons gray900">touch_app</span>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Edson</mat-card-title>
            <mat-card-subtitle>Frontend and Backend Developer</mat-card-subtitle>
        </mat-card-header>
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img mat-card-image src="assets/foto.jpg" alt="photo">
            </div>
            <div class="flip-card-back">
                <mat-card-content>
                    <p>Skills: Angular, C#, ASP.NET MVC Core, Java, PostgreSQL, MySQL, Git/Github, HTML, CSS, JavaScript, TypeScript,
                        SCRUM, Azure DevOps CI/CD, AWS Lambda, AWS S3, HangFire, Node.</p>
                    <p>Experience: FullStack Developer (Frontend Angular / Backend .NET).</p>
                    <p>Projects:</p>
                    <div class="conteudo">
                        <button mat-icon-button (click)="abrirProjeto1()" matTooltip="{{projeto1}}">
                            <mat-icon>looks_one</mat-icon>
                        </button>
                        <button mat-icon-button (click)="abrirProjeto2()" matTooltip="{{projeto2}}">
                            <mat-icon>looks_two</mat-icon>
                        </button>
                        <button mat-icon-button (click)="abrirProjeto3()" matTooltip="{{projeto3}}">
                            <mat-icon>looks_3</mat-icon>
                        </button>
                        <button mat-icon-button (click)="abrirProjeto4()" matTooltip="{{projeto4}}">
                            <mat-icon>looks_4</mat-icon>
                        </button>
                    </div>
                </mat-card-content>
            </div>
        </div>
    </mat-card>
</div>