<div class="arrow" id="arrow">
    <button mat-icon-button>
        <mat-icon>swap_vertical_circle</mat-icon>
    </button>
</div>
<div class="titulo" id="titulo1">
    <h1>Edson Studio</h1>
</div>
<h1 class="loading">Loading
    <span class="status__dot">.</span>
    <span class="status__dot">.</span>
    <span class="status__dot">.</span>
</h1>
<section>
    <div class="side" id="side1">
        <video loop="true" autoplay="autoplay" [muted]="true">
            <source src="assets/dev02.mp4" type="video/mp4" />
            <source src="assets/dev02.webm" type="video/webm" />
        </video>
    </div>
    <div class="side" id="side2">
        <video loop="true" autoplay="autoplay" [muted]="true">
            <source src="assets/dev02.mp4" type="video/mp4" />
            <source src="assets/dev02.webm" type="video/webm" />
        </video>
    </div>
</section>
<div class="content">
    <h2>About Edson</h2>
    <p>
        Hi, my name is Edson Costa and I recently graduated as a Systems Development Technician at SENAI-São
        Paulo-Brasil,
        and I am currently a Systems Analysis and Development student at Estácio de Sá University - Recife-Pernambuco /
        Brazil. I've already developed some private projects on the frontend using Angular, and backend with Java and
        C#.
        This page will soon display my academic projects and articles.
    </p>
    <app-card></app-card>
</div>
<div class="container">
</div>